$utilities: (
  "justify-content": (
    "prefix": "jc",
    "values": (
      "start": flex-start,
      "end": flex-end,
      "center": center,
      "between": space-between,
      "around": space-around,
      "evenly": space-evenly
    )
  ),
  "align-items": (
    "prefix": "ai",
    "values": (
      "start": start,
      "end": end,
      "center": center,
      "stretch": stretch
    )
  ),
  "display": (
    "prefix": "d",
    "values": (
      "flex": flex,
      "grid": grid,
      "none": none,
      "inline": inline,
      "i-block": inline-block,
      "block": block,
    )
  )
);

@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");
  @each $key, $val in $values {
    .#{$prefix}-#{$key} {
      #{$property}: $val;
    }
  }
}