// colors
$main-button-color: #f67599;

// setting
:root {
  --body-bg: white;
  --basic-color: #2a2a2a;
  --intensive-color: black;
  --step-processing-connect-line-color: black;
  --step-circle-unfinished-color: #afb1bd;
  --input-border: #a4a4a4;
  --input-description: #808080;
  --input-placeholder: #999;
  --input-select: #2a2a2a;
  --box-unchecked-bg: white;
  --box-checked-bg: #2a2a2a;
  --unchecked-border: #f0f0f5;
  --checked-border: #2a2a2a;
  --cart-border: #f0f0f5;
  --cart-button-color: #f0f0f5;
  --cart-button-content: black;
}

.darkmode {
  --body-bg: #121212;
  --basic-color: white;
  --intensive-color: white;
  --step-processing-connect-line-color: white;
  --step-circle-unfinished-color: white;
  --input-border: #5e5e5e;
  --input-description: white;
  --input-select: #5e5e5e;
  --box-unchecked-bg: #333;
  --box-checked-bg: #333;
  --unchecked-border: #5e5e5e;
  --checked-border: white;
  --cart-border: rgba(255, 255, 255, 0.2);
  --cart-button-color: #808080;
  --cart-button-content: #333;
}
