// colors
$color-for-light-mode-1: #2a2a2a;
$color-for-light-mode-2: #afb1bd;
$color-for-light-mode-3: #4a4a4a;
$color-for-light-mode-4: #808080;
$color-for-light-mode-5: #999;
$color-for-light-mode-6: #f0f0f5;
$color-for-light-mode-7: #222;
$colro-for-light-mode-8: #e6e6eb;
$color-for-light-mode-9: rgba(42, 42, 42, 0.1);
$black: #000;
$white: #fff;
$step-color: #333;
$main-button-color: #f67599;
$color-for-dark-mode-1: $white;
$color-for-dark-mode-2: #5e5e5e;
$color-for-dark-mode-3: #383838;

// opacity
$opacity-1: 0.2;
$opacity-2: 0.4;
$opacity-3: 0.6;
$opacity-4: 0.8;

// setting
:root {
  --basic-font-color: $color-for-light-mode-1;
  --step-connect-line-color: $black;
  --input-border: $color-for-light-mode-5;
  --cart-border: $color-for-light-mode-6;
  --cart-button-color: $color-for-light-mode-6;
  --cart-button-content: $black;
  --opacity-of-form-fonts: 1;
  --opacity-of-nav-icons: 1;
  --opacity-of-cart-border: 1;
  --opacity-of-footer-fonts-and-icons: 1;
}

.darkmode {
  --basic-font-color: $white;
  --step-connect-line-color: $white;
  --input-border: $color-for-dark-mode-2;
  --cart-border: $color-for-dark-mode-3;
  --cart-button-color: $color-for-light-mode-4;
  --cart-button-content: $step-color;
  --opacity-of-form-fonts: $opacity-2;
  --opacity-of-nav-icons: $opacity-4;
  --opacity-of-cart-border: $opacity-1;
  --opacity-of-footer-fonts-and-icons: $opacity-3;
}
