// colors
$main-button-color: #f67599;
$basic-dark: #2a2a2a;
$black: black;
$white: white;
$gray-1: #f0f0f5;
$gray-2: #afb1bd;
$gray-3: #a4a4a4;
$gray-4: #808080;
$gray-5: #999;
$gray-6: #5e5e5e;
$gray-7: #333;

// setting
:root {
  --body-bg: white;
  --basic-color: #{$basic-dark};
  --intensive-color: #{$black};
  --step-processing-connect-line-color: #{$black};
  --step-circle-unfinished-color: #{$gray-2};
  --input-border: #{$gray-3};
  --input-description: #{$gray-4};
  --input-placeholder: #{$gray-5};
  --input-select: #{$basic-dark};
  --box-unchecked-bg: #{$white};
  --box-checked-bg: #{$basic-dark};
  --unchecked-border: #{$gray-1};
  --checked-border: #{$basic-dark};
  --cart-border: #{$gray-1};
  --cart-button-content: #{$black};
  --cart-info-border: #{$gray-1};
  --search-icon: url(../images/lightmode-icon/icon-search.png);
  --cart-icon: url(../images/lightmode-icon/icon-cart.png);
  --darkmode-icon: url(../images/lightmode-icon/icon-moon.png);
  --plus-icon: url(../images/lightmode-icon/icon-plus.png);
  --minus-icon: url(../images/lightmode-icon/icon-minus.png);
}

.darkmode {
  --body-bg: #121212;
  --basic-color: #{$white};
  --intensive-color: #{$white};
  --step-processing-connect-line-color: #{$white};
  --step-circle-unfinished-color: #{$white};
  --input-border: #{$gray-6};
  --input-description: #{$white};
  --input-select: #{$gray-6};
  --box-unchecked-bg: #{$gray-7};
  --box-checked-bg: #{$gray-7};
  --unchecked-border: #{$gray-6};
  --checked-border: #{$white};
  --cart-border: rgba(255, 255, 255, 0.2);
  --cart-button-content: #{$gray-7};
  --cart-info-border: #{$white};
  --search-icon: url(../images/darkmode-icon/icon-search-dark.png);
  --cart-icon: url(../images/darkmode-icon/icon-cart-dark.png);
  --darkmode-icon: url(../images/darkmode-icon/icon-sun.png);
  --plus-icon: url(../images/darkmode-icon/icon-plus-dark.png);
  --minus-icon: url(../images/darkmode-icon/icon-minus-dark.png);
}

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 32px;

$space-xs: 12px;
$space-basic: 16px;
$space-lg: 24px;
$space-xl: 32px;