// variables & functions
@import "variables";

// base & layout
@import "reset";
@import "layout";
@import "breakpoints";

// classes
@import "utilities";

// other default setting
@mixin iconSetting($png) {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: var($png);
}

%input-style {
  width: 100%;
  height: 40px;
  padding: $space-xs $space-basic;
  background-color: transparent;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  cursor: pointer;
  font-size: $font-size-xs;
  &::placeholder {
    color: var(--input-placeholder);
  }
}

$input-classes: mrms, name, tel, email, city, address, holder, num, date, key;
@each $val in $input-classes {
  .#{$val} {
    grid-area: $val;
  }
}
// start styling
body {
  color: var(--basic-color);
}

.main-container {
  margin: 0 15px 40px;
  .header {
    position: relative;
    padding: 20px 0;
    height: 55px;
    .nav__toggle-box {
      display: block;
      width: 20px;
      height: 15px;
      &--icon {
        display: inherit;
        position: relative;
        width: 100%;
        height: 2px;
        background-color: var(--basic-color);
        &::before,
        &::after {
          content: "";
          display: inherit;
          position: absolute;
          height: 2px;
          background-color: var(--basic-color);
          left: 0;
          transform: translateY(-50%);
        }
        &::before {
          width: 75%;
          top: 7.5px;
        }
        &::after {
          width: 50%;
          top: 15px;
        }
      }
    }

    #nav__toggle-checkbox:checked + nav {
      transform: scaleY(1);
    }

    .nav {
      position: absolute;
      top: calc(100% - 10px);
      width: 100%;
      height: 100vh;
      background-color: var(--body-bg);
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.25s;
      z-index: 1;
      &__menu-list {
        height: 90px;
        @extend %makeInnerCenter;
        border-bottom: 2px solid rgba(42, 42, 42, 0.1);
      }
      &__menu-icons {
        width: 150px;
        margin: 0 auto;
        padding-top: 24px;
        &-search--png {
          @include iconSetting(--search-icon);
        }
        &-cart--png {
          @include iconSetting(--cart-icon);
        }
        &-darkmode--png {
          @include iconSetting(--darkmode-icon);
        }
      }
      // 施作search-bar的input
      &__search-bar {
        margin: 24px auto;
        padding: 12px 24px;
        border-radius: 99em;
        // box-shadow: inset 0 0 5px rgba(42, 42, 42, 0.5);
        background-color: $gray-1;
        transform-origin: left;
        transform: scaleX(0);
        border: 1px solid var(--input-border);
        &::placeholder {
          color: black;
        }
      }
      #search:checked + .nav__search-bar {
        transform: scaleX(1);
      }
    }

    &__logo-block {
      width: 140px;
      height: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .title {
    margin-top: $space-basic;
    font-size: $font-size-lg;
    font-weight: bold;
    line-height: 38px;
    color: var(--basic-color);
    @include breakpoint {
      margin-top: $space-lg;
      font-size: $font-size-xl;
    }
  }
  .content {
    &__stepper {
      padding: 24px 0;
      &-step {
        position: relative;
        &--circle {
          @extend %makeInnerCenter;
          width: $space-xl;
          height: $space-xl;
          border-radius: 50%;
          border: 1px solid var(--step-circle-unfinished-color);
          @include breakpoint {
            width: $space-lg;
            height: $space-lg;
          }
          & span {
            font-size: $font-size-md;
            color: var(--step-circle-unfinished-color);
            @include breakpoint {
              font-size: $font-size-xs;
            }
          }
        }
        &--info {
          display: none;
          @include breakpoint {
            display: block;
            margin-left: ($space-basic / 2);
            color: var(--step-circle-unfinished-color);
          }
        }
      }
      .finished {
        color: $gray-7;
        .content__stepper-step--circle {
          background-color: $gray-7;
          & span {
            display: none;
          }
          &::after {
            content: "";
            width: 20px;
            height: 20px;
            background-image: url("../images/icon-check.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0;
            @include breakpoint {
              width: 16px;
              height: 16px;
            }
          }
        }
        & + span {
          background-color: var(--basic-color);
        }
        .content__stepper-step--info {
          color: var(--basic-color);
        }
      }
      .active {
        .content__stepper-step--circle {
          border-color: var(--basic-color);
        }
        & span {
          color: var(--basic-color);
        }
      }
      &--line {
        display: block;
        width: 60px;
        height: 2px;
        background-color: var(--step-circle-unfinished-color);
      }
      @include breakpoint {
        padding: 48px 0 64px;
      }
    }
    &__form {
      margin-bottom: $space-xl;
      &-part {
        &-title {
          margin-bottom: $space-lg;
          font-size: $font-size-lg;
        }
        .form-row {
          & label {
            display: block;
            margin-bottom: ($space-basic / 2);
            font-size: $font-size-xs;
            color: var(--input-description);
          }
          & .select-wrapper {
            width: 100%;
            position: relative;
            z-index: 0;
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: $space-basic;
              transform: translate(-50%, -50%);
              border-width: 5px 4.5px 0 4.5px;
              border-color: var(--basic-color) transparent transparent
                transparent;
              border-style: solid;
              z-index: -1;
            }
            & select {
              @extend %input-style;
              -webkit-appearance: none;
              appearance: none;
              &:invalid {
                color: var(--input-placeholder);
              }
            }
          }
          & input[type="text"],
          input[type="email"],
          input[type="date"] {
            @extend %input-style;
          }
        }
        &-address {
          grid-template: auto / 40% 10% 50%;
          grid-template-areas:
            "mrms . name"
            "tel tel tel"
            "email email email"
            "city city city"
            "address address address";
          row-gap: $space-basic;
        }
        &-delivery {
          &--method {
            width: 100%;
            height: 60px;
            border: 1px solid var(--unchecked-border);
            border-radius: 4px;
            & input[type="radio"] {
              appearance: none;
              -webkit-appearance: none;
              width: 20px;
              height: 20px;
              margin: 20px;
              border: 1px solid #333;
              border-radius: 50%;
              background-color: var(--box-unchecked-bg);
              &:checked {
                border-width: 6px;
              }
            }
            &--standard,
            &--dhl {
              width: 80%;
              font-size: $font-size-xs;
              color: var(--basic-color);
              .radio-info {
                font-size: $font-size-sm;
              }
            }
          }
          .checked {
            border-color: var(--checked-border);
          }
          & label:first-child {
            margin-bottom: $space-lg;
          }
        }
        &-payment {
          grid-template: auto / 45% 10% 45%;
          grid-template-areas:
            "holder holder holder"
            "num num num"
            "date . key";
          row-gap: $space-basic;
          & input[type="date"] {
            color: var(--input-description);
          }
        }
      }
    }
    &__cart {
      width: 100%;
      height: 358px;
      padding: $space-basic;
      border: 1px solid var(--cart-border);
      border-radius: ($space-basic / 2);
      &-item {
        margin-bottom: 10px;
        &--img {
          width: 100px;
          height: 100px;
        }
        &--info {
          flex-direction: column;
          color: var(--basic-color);
          &--buttons-minus,
          &--buttons-plus {
            width: 26px;
            height: 26px;
          }
          &--buttons-minus {
            background: var(--minus-icon) center/contain no-repeat;
          }
          &--buttons-plus {
            background: var(--plus-icon) center/contain no-repeat;
          }
          &--number {
            width: 50px;
            @extend %makeInnerCenter;
            margin: 0 ($space-lg / 4);
          }
        }
      }
      &-info,
      &-total {
        border-top: 1px solid var(--cart-info-border);
        padding: $space-basic 0;
        font-size: 14;
        color: var(--basic-color);
        & span:last-child {
          font-weight: bold;
        }
      }
    }
    .btn {
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin: $space-xl 0 $space-lg;
        background-color: var(--cart-button-divider);
      }
      &__prev {
        &:disabled {
          display: none;
        }
      }
      &__next {
        width: 100%;
        height: 46px;
        border-radius: 8px;
        margin-bottom: 40px;
        background-color: $main-button-color;
        color: $white;
      }
    }
  }
}

footer {
  display: none;
  @include breakpoint {
    display: block;
  }
}
